<h2 class="text-4xl font-extrabold mb-4">Extended Forecast</h2>
<div class="relative overflow-x-auto">
  <table id="extended_forecast" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Name 
        </th>
        <th scope="col" class="px-6 py-3">
          Forecast Summary
        </th>
        <th scope="col" class="px-6 py-3">
          Temp
        </th>
      </tr>
    </thead>
    <tbody>
      <% @forecast_partial_days.flatten.each do |day| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            <%= day.name %>
          </th>
          <td class="px-6 py-4">
            <%= day.detailed_forecast %>
          </td>
          <td class="px-6 py-4">
            <%= day.temperature %> F
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
